<p>This privacy policy governs your use of the software application (&#8220;Application&#8221;) AES Inspector for mobile devices that was created by T. Oliver (&#8220;Developer&#8221;).</p>
<h4></h4>
<h4>GDPR Compliance (For users in the E.E.A.)</h4>
<p>You have:</p>

<p>1. <u>The right to be informed:</u> we are obliged to be completely transparent in how we're using your personal data (personal data may include data such an email address or phone number if they are specific to an individual).</p>
<p>2. <u>The right of access:</u> you have the right to know exactly what information is held about you and how it's processed.</p>
<p>3. <u>The right of rectification:</u> you are entitled to have personal data rectified if it is inaccurate or incomplete.</p>
<p>4. <u>The right to erasure:</u> a.k.a. 'the right to be forgotten', this refers to your right to having your personal data deleted or removed without the need for a specific reason as to why you wish to discontinue.</p>
<p>5. <u>The right to restrict processing:</u> your right to block or suppress processing of your personal data.</p>
<p>6. <u>The right to data portability:</u> this allows you to retain and reuse your personal data for your own purpose.</p>
<p>7. <u>The right to object:</u> in certain circumstances, you're entitled to object to your personal data being used. This includes if a company uses personal data for the purpose of direct marketing, scientific and historical research, or for the performance of a task in the public interest.</p>
<p>8. <u>Rights of automated decision making and profiling:</u> the GDPR has put in place safeguards to protect you against the risk that a potentially damaging decision is made without human intervention. For example, you can choose not to be the subject of a decision where the consequence has a legal bearing on you, or is based on automated processing.</p>
<p>&nbsp;</p>

<h4>What information does the Application obtain and how is it used?</h4>
<p><strong>Automatically Collected Information</strong></p>
<p>The Application collects certain information automatically, including, but not limited to:</p>
<p>&#8226; the type of mobile device you use</p>
<p>&#8226; your mobile device's unique device ID</p>
<p>&#8226; the IP address of your mobile device</p>
<p>&#8226; your mobile operating system</p>
<p>&#8226; information about the way you use the Application (including clicks on ads, ad impressions, and events indicating that you have installed, updated, or removed the app).</p>
<p>In the event of a malfunction, then data about your specific device along with information about your operating system and mobile carrier will be sent in a crash report to the developer.</p>
<h4></h4>
<h4>Does the Application collect precise real-time location information of the device?</h4>
<p>This Application does not collect precise information about the location of your mobile device. However, your IP address may be used to identify your country of origin for analytics purposes.</p>
<p>&nbsp;</p>
<h4>Do third parties see and/or have access to information obtained by the Application?</h4>
<p>Yes. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
<p>We may disclose User Provided and Automatically Collected Information:</p>

<p>&#8226; as required by law, such as to comply with a subpoena, or similar legal process</p>
<p>&#8226; when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request</p>
<p>&#8226; with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement</p>
<p>&#8226; if the Developer is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information</p>
<p>&#8226; to advertisers and third-party advertising networks and analytics companies as described in the section below.</p>

<p>&nbsp;</p>

<h4>Automatic Data Collection and Advertising</h4>
<p>We utilize analytics services to help us understand how the Application is being used, such as the frequency and duration of usage. We work with advertisers and third-party advertising networks, who need to know how you interact with advertising provided in the Application, which helps us keep the cost of the Application low.</p>
<p>Advertisers and advertising networks use some of the information collected by the Application, including, but not limited to, the unique identification ID of your mobile device. To protect the anonymity of this information, we use encryption technologies to help ensure that these third parties can't identify you personally. These third parties may also obtain anonymous information about other applications you've downloaded to your mobile device, the mobile websites you visit, your non-precise location information (geolocation via IP address), and other non-precise location information in order to help analyze and serve anonymous targeted advertising on the Application and elsewhere.
    We may also share encrypted versions of information you have provided in order to enable our partners to append other available information about you for analysis or advertising related use.</p>
<p>Before collecting this data you are given the option to opt-out. If you decide to opt-out of this information, data used for personalization of ads and analytics will not be collected.</p>
<p>If you&#8217;d like to opt-out from third-party use of this type of information to help serve targeted advertising, please visit the section entitled &#8220;Opt-out&#8221; below.</p>

<h4>What are my opt-out rights?</h4>
<p><u>Opt-out of information collection by revoking consent:</u> You can stop collection of information by the Application easily by clicking on "Settings" from the top App Bar and unchecking "Personalize Ads" and "Collect Analytics". Restarting the Application will ensure the settings fully take effect.</p>
<p>&nbsp;</p>
<h4><strong>Data Retention Policy, Managing Your Information</strong></h4>
<p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 120 days and thereafter may store it in aggregate. If you'd like us to delete User Provided Data that you have provided via the Application, please contact us at <a href="mailto:tiju.oliver@gmail.com">tiju.oliver@gmail.com</a> and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>
<p>&nbsp;</p>
<h4><strong>Children</strong></h4>
<p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at <a href="mailto:tiju.oliver@gmail.com">tiju.oliver@gmail.com</a>. We will delete such information from our files within a reasonable time.</p>
<h4></h4>
<h4><strong>Security</strong></h4>
<p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect the information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>
<p>&nbsp;</p>
<h4><strong>Changes</strong></h4>
<p>This Privacy Policy may be updated from time to time for any reason. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</p>
<p>&nbsp;</p>
<h4><strong>Your Consent</strong></h4>
<p>By giving affirmative responses to the initial startup survey, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. &#8220;Processing,&#8221; means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards.</p>
<p>&nbsp;</p>
<h4>Contact us</h4>
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at <a href="mailto:tiju.oliver@gmail.com">tiju.oliver@gmail.com</a>.</p>